<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>

  <body>
    <% include partials/_header.ejs %>
    <h3>My URLs</h3>
    <% if (user) { %>
    <ul>
      <% urls.forEach((url) => {%>
      <li>
        <a href='/u/<%=url.shortURL%>'><%= url.short_url + ": " + url.long_url %></a>
        <form action="/urls/<%= url.short_url %>/delete" method="POST">
        <a href="/urls/<%= url.short_url %>">Edit</a>
        <button>Delete</button>
        <br><br>
        </form>
      </li>
      <% }); %>
    </ul>
    <% } %>
    <a href="/urls/new">Create new URL</a>
  </body>
</html>